// App Styles
.App {
  display: flex;
  flex-direction: column;
  height: 92vh;
}

main {
  background-color: rgb(222, 224, 225);
}

// Nav Styles
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3f3e3e;
  color: white;
  height: 8vh;
  position: sticky;
  top: 0;
  /* margin-bottom: 2px; */
  /* border-bottom: 3px solid rgba(0, 0, 0, 0.8); */

  h1 {
    font-size: 2.8rem;
    text-align: center;
    font-family: 'Eczar', serif;
    font-weight: 300;
    padding-left: 48px;
    height: 4.5rem;

    a {
      color: white;
      text-decoration: none;
      height: 100%;
    }
  }

  .links {
    width: 60%;
    height: 30px;
    margin: 20px 0;
  }

  .shopping-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    padding: 0 24px;
    height: 100%;
    margin: auto;
    line-height: 0.5;
  }

  li {
    font-weight: bold;

    a {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }
  }

  .login-signup {
    display: flex;
    gap: 20px;
  }

  .login-link {
    color: white;
    text-decoration: none;
  }

  .sign-up-link {
    color: white;
    text-decoration: none;
  }

  &>* {
    margin: 0 auto;
  }

  #shopping-cart {

    &:hover {
      cursor: pointer;
    }
  }
}

// Hero Collection Styles
#hero-background {
  height: 50%;
  min-height: 300px;
  width: 100%;
  background-color: rgb(222, 224, 225);
  display: grid;
  place-items: center;
}

#hero-content {
  width: 65%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20%;

  h2 {
    font-size: 2.6rem;
    font-weight: 400;
    color: white;
    text-shadow: 0 2px 5px black;
    font-family: 'Eczar', serif;
  }

  button {
    background-color: rgba(185, 185, 185, 0.774);
    color: white;
    border: 3px solid white;
    box-shadow: 0 40px 100px 2px grey;
    text-shadow: 0 1px 20px black;
    width: 5rem;
    height: 35px;
    font-weight: 600;
    font-size: 1.1rem;
  }

  button:hover {
    cursor: pointer;
    box-shadow: 0 40px 100px 2px grey, 0 0 10px 2px white;
  }

  #collection-picture {
    width: 30%;
    max-width: 500px;
    box-shadow: 0 40px 80px 2px grey;
  }

  div {
    text-align: center;
    width: 50%;
  }
}

// Featured Items Styles
#featured-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4vw;
  padding-top: 20px;
  background-color: rgb(222, 224, 225);
}

.feature-box {
  width: 25%;
  max-height: 70vh;
  position: relative;

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    display: inline;
    width: 100%;
    height: 100%;
    z-index: 20;
    transition: box-shadow 0.3s ease-out;

    &:hover {
      -webkit-box-shadow: inset 0px 18px 20px -10px #000000, inset 0px -18px 20px -10px #000000;
      box-shadow: inset 0px 18px 20px -10px #000000, inset 0px -18px 20px -10px #000000;

      .view-button,
      .add-button {
        display: initial;
      }
    }
  }

  .view-button,
  .add-button {
    width: 6rem;
    height: 30px;
    font-weight: bold;
    position: absolute;
    display: none;
    transition: display 1s ease-out;
    bottom: 10px;
    right: 10px;
    background-color: rgba(185, 185, 185, 0.774);
    color: white;
    border: 3px solid white;
    box-shadow: 0 40px 100px 2px grey;
    text-shadow: 0 1px 20px black;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px 2px white;
    }
  }

  .add-button {
    font-size: 2rem;
    height: 3rem;
    width: 4rem;
    top: 10px;
    right: 10px;
    border-width: 2px;
    border-radius: 50px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.front-page {
  max-height: 40vh;
}

// RESULTS STYLES
.results {
  text-align: center;

  h2 {
    font-size: 2.5rem;
    font-weight: 300;
    font-family: 'Eczar', serif;
    margin-bottom: 0;
  }
}

.results-area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;
}

.result {
  width: 25%;
  border: 2px solid black;
  margin-bottom: 5%;

  img {
    width: 100%;
  }
}

.col-result {
  width: 25%;
  border: 2px solid black;
  margin: 25px 0;

  img {
    width: 75%;
    margin: 10px 0;
  }

  &:hover {
    cursor: pointer;
  }
}

// SHOW COLLECTION STYLES
.collection-container {
  text-align: center;

  h2 {
    margin-bottom: 5px;
    font-size: 3rem;
    font-family: 'Eczar', serif;
  }

  h5 {
    margin-top: 5px;
    font-size: 1.2rem;
  }

  h4 {
    margin-bottom: 5px;
    font-size: 2rem;
    border-bottom: 2px dotted black;
  }
}

.items-container {
  margin: 0 20px;
  text-align: start;

  h4 {
    margin-bottom: 10px;
  }
}

.collection-items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.collection-item {
  padding: 5px;
  border: 2px solid black;
  width: 300px;

  &:hover {
    cursor: pointer;
  }

  img {
    width: 100%;
  }
}

// SHOW ITEM STYLES
.item-container {
  height: 88vh;
  padding: 2vh;

  .content-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  .info-container {
    background-color: #3f3e3e;
    width: 40%;
    height: 60%;
    text-align: center;
    position: relative;

    p {
      color: white;
      margin-top: 5px;
    }

    h2 {
      font-family: 'Eczar', serif;
      font-size: 2rem;
      font-weight: 500;
      color: white;
      max-width: 75%;
      margin: auto;
      margin-top: 5%;
    }

    h3 {
      top: 0;
      right: 15px;
      position: absolute;
      color: white;
    }

    .info-add-button {
      border: none;
      background-color: white;
      color: #3f3e3e;
      width: 8rem;
      font-size: 1.3rem;
      padding: 5px;
      position: absolute;
      bottom: 10px;
      right: 10px;

      &:hover {
        cursor: pointer;
      }
    }

    .sizes {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 4px solid white;
      width: 50%;
      height: 30%;
      margin: 2.5vw auto;
    }

    h5, h6 {
      margin: 0!important;
    }

    .size {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15%;
      color: white;
      height: 100%;
      width: 25%;
    }

    hr {
      width: 50%;
      border: 1px solid white;
    }

    .br {
      border-right: 2px solid white;
    }
  }

  .picture-container {
    max-width: 35%;

    img {
      max-width: 35vw;
      max-height: 70vh;
    }
  }
}

// SIGNUP STYLES
.sign-up-form,
.login-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-family: 'Eczar', serif;
    font-size: 2rem;
    font-weight: 300;
  }

  form {
    text-align: start;
    display: inline-block;
    margin: auto;
    padding: 2rem;
    border: 2px solid black;
    width: 10%;

    section {
      width: 100%;
      text-align: center;
    }

    button {
      font-size: 1rem;
      font-weight: 600;
      width: 5rem;
      padding: 2px;
      background-color: #3f3e3e;
      color: white;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  input {
    margin-bottom: 2rem;
  }
}

// ADD POPUP STYLES
.add-popup {
  position: fixed;
  width: 30%;
  height: 18%;
  left: 35%;
  top: 30%;
  z-index: 1000;
  border: 5px solid #3f3e3e;
  border-radius: 10px;
  background-color: white;
  text-align: center;

  h4 {
    font-size: 1.2rem;
  }
}

.add-popup-buttons {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: auto;

  button {
    font-size: 1.2rem;
    background-color: #3f3e3e;
    width: 5rem;
    padding: 8px;
    color: white;
    border: none;
    border-radius: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  .x-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    padding: 2px;
    background-color: white;
    color: #3f3e3e;
  }
}

// SHOPPING CART STYLES
.cart-container {
  text-align: center;

  h2 {
    font-size: 2.5rem;
    font-family: 'Eczar', serif;
    font-weight: 300;
  }

  .items-container {
    width: 50%;
    margin: auto;
    background-color: #3f3e3e;
    color: white;
    padding: 10px 30px;
  }

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      width: 3rem;
      height: 1.5rem;
      background-color: transparent;
      color: white;
      font-weight: 600;

      &:hover {
        cursor: pointer;
      }
    }

    span {
      display: flex;
      align-items: baseline;
      gap: 20px;
      flex: 1;
    }
  }

  .bottom-container {
    width: 50%;
    margin: auto;
    padding: 30px 30px;
    text-align: end;

    button {
      width: 6rem;
      height: 2rem;
      border: 2px solid #3f3e3e;
      color: #3f3e3e;
      font-weight: 600;

      &:hover {
        cursor: pointer;
      }
    }
  }
}